<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      <span class="hero__salutations">
        {salutations.map((item, index) => (
        <span key={index} lang={item.lang}>
          {item.content}
        </span>
        ))}
      </span>
      <span>{{ fields.content }}</span>
    </h1>
    <!-- .hero__title -->
  </div>
</section>
<!-- .hero -->
<div class="hero__image"></div>
<!-- .hero__image -->
