<button aria-expanded="false" class="navigation__trigger">Menu</button>
<nav class="navigation">
  {% for item in navigation.items %}
    <a class="navigation__link {{ item.class }}" href="{{ item.link }}" {% if item.current %} aria-current="page" {% endif %}>{{ item.title }}</a>
  {% endfor %}
</nav>
<!-- .navigation -->
