/**
 * Reset HTML size to use 1rem = 10px
 */

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  background-color: transparent;
  color: $color-raccoon;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;

  &:focus,
  &:hover {
    color: $color-raccoon-blue;
    font-weight: 600;
  }

  &:focus {
    outline: $outline-default;
    outline-offset: $size-double;
  }
}

/**
 * Style for the dev helper indicating what is the current template
 */
.current-template-file-name {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #1c1e26;
  color: #e3b28e;
  padding: 0.2rem 2rem;
  z-index: 10000;
  border-radius: 0.5rem 0 0 0;
}
