<div class="branding">
  <a class="branding__link" href="{{ site.link }}">
    <img class="branding__logo" src="{{theme.link}}/resources/assets/images/raccoon-logo-inverted.svg" alt="Raccoon Studio">
  </a>
</div>
<!-- .branding -->
