.branding {
  &__link {
    display: flex;
    align-items: center;
    margin: auto $size-full;
    padding: $size-medium;
    width: $size-extra-plus;

    @media (min-width: $tablet) {
      margin-left: $size-large;
      margin-right: 0;
      width: $size-extra-plus;
    }

    @media (min-width: $desktop) {
      margin-left: 0;
    }
  }

  &__logo {
    height: auto;
    margin-bottom: 0;
    max-width: 100%;
  }
}
